---
layout: default

# keep it short! shown in the header
title: Subscription Management w/Stripe & Netlify

# these are all optional and add links to the footer
repo: learnwithjason/stripe-jamstack-subscriptions
episode: https://www.learnwithjason.dev/subscription-management-in-jamstack-apps
tutorial:
---

<style>
  h1 {
    text-align: center;
  }

  .netlify-identity-menu {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    list-style: none;
    padding: 0;
  }

  .netlify-identity-item a {
    background: var(--dark-gray);
    border-radius: 0.5rem;
    color: var(--white);
    display: block;
    font-size: 1.5rem;
    font-weight: 900;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
  }
</style>

<script
  type="text/javascript"
  src="https://identity.netlify.com/v1/netlify-identity-widget.js"
></script>

<h1>Sign Up for Premium Corgi Content</h1>

<div data-netlify-identity-menu></div>

<script>
  function checkAuthStatus(user) {
    if (!user) return;

    console.log({ user });
  }

  window.netlifyIdentity.on('init', checkAuthStatus);
</script>
